:root {
    --color-primary: #1b2c36;
    --color-second: #7c94a1;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;
    margin: auto;
    background-color: #c4d1e6;
    font-family: sans-serif;
    color: var(--color-primary);
}

#primary {
    width: 300px;
    padding: 100px;
}

#second {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 180px;
    height: 180px;
    margin: auto;
    margin-bottom: 10%;
    border: 6px, solid, var(--color-primary);
    border-radius: 50%;
    font-size: 125px;
    box-shadow: 30px 30px 30px var(--color-second);
}

h1 {
    text-align: center;
}

button {
    display: flex;
    background-color: #ffffff;
    margin-top: 20%;
    width: 100%;
    border: 4px, solid, var(--color-primary);
    border-radius: 35px;
    font-size: 23px;
    box-shadow: 30px 20px 30px var(--color-second);

}

h4 {
    width: 100%;
    padding: 15px;
    color: var(--color-primary);
    padding-left: 20px;
}

#count_2 {
    width: 35%;
    padding: 15px;
    color: #ffffff;
    background-color: var(--color-primary);
    border-radius: 0px 20px 20px  0;
}

