body {
    background-color:   hsl(149, 90%, 65%);
}

#container {
    width: 500px;
}

#Muneco {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 150px;
    z-index: 1;
}

button {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    font-size: 20px;
    color: #ffffff;
    background-color: hsl(0, 0%, 0%);
    border-style: none;
    border-radius: 7px;
    z-index: 2;
}

#arriba {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#izquierda {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#derecha {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#abajo {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}